.title{
 font-family: Optima, sans-serif;
 font-size: 55px;
 color: #1f4d59;
 text-align: center;
 font-weight: bold;
}
body {
  background-color: pink


}

.column{
  float:left;
  width: 250px;
  border: 2px solid #c63b67;
  padding: 2px;
  margin:2px;
  background-color: #ff6d9b
}
.column h2{
  font-size: 30px
}
.column h1{
  font-size: 30px
}
.column h3{
  font-size: 30px
}
.column h4{
  font-size: 30px
}
.column h5{
  font-size: 30px
}
img{
  width: 250px;
  height: auto;
}
